<div class="mainDiv">
      <div class="headerView">

          <button class="icons" mat-icon-button  (click)="backToHome()">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <mat-icon class="star">star</mat-icon>

        <button *ngIf="user && user.admin" class="icons" mat-icon-button (click)="updateRoster()">
            <mat-icon *ngIf="user && user.admin === 'null'" class="invIcon" >save</mat-icon>
          <mat-icon>save</mat-icon>
        </button>
        <mat-icon *ngIf="!user.admin" class="invIcon" >save</mat-icon>



  </div>
  <mat-card class="viewCard">
      <mat-card-content class="card">
          <div class="dttm">
            <div>
              <p>
                  <mat-icon class="calendar">calendar_today</mat-icon>
                Дата
              </p>
            </div>

          </div>
          <div class="gameType">DC Lepers : Соперник</div>
          <ng-template class="gameType" #elseBlock>Тренировка</ng-template>
          <div class="where">
              <p>
              <mat-icon class="wIcon">location_on</mat-icon>
              Локация
            </p>
          </div>
        </mat-card-content>

    <mat-card-content>
      <mat-tab-group>
        <!-- Таб для отметившихся -->
    <mat-tab label="Придут ({{changedEvent.players.accept.length }})">
        <p class="roleHeader">
            ВРАТАРИ
          </p>
<mat-list *ngFor="let player of  this.changedEvent.players.accept | sort; index as i">

    <mat-list-item *ngIf="player.role=='Вратарь'"
                   [ngClass]="{
      'firstElementAfterGoalie':player.role!=='Вратарь',
    'firstElementUndef':!player.color&&player.role!=='Вратарь',
    'firstElementBlack':player.color==='black'}"
    >

      <p  matLine> {{player.name}} {{player.surname}}</p>

      <mat-select [(value)]="player.color"
                  *ngIf="player.role!=='Вратарь' && user && user.admin"
                  class="color"
                  value="{{player.color}}">

        <mat-option *ngFor="let mark of marks" [value]="mark">
          <mat-icon [ngStyle]="{'color': mark.color}">brightness_1</mat-icon>&nbsp;{{mark.name}}</mat-option>
        <mat-option [value]="null">
            <mat-icon [ngStyle]="{'opacity': 0}">brightness_1</mat-icon>&nbsp;Not selected
          </mat-option>
      </mat-select>

      <mat-select [(value)]="player.number"
                  *ngIf="player.role!=='Вратарь' && user && user.admin"
                  class="number"
                  [ngClass]="{'disabled-element':!player.color}"
                  disabled="{{!player.color}}"
                  value="player.number">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>

  <p class="roleHeader">
      ЗАЩИТНИКИ
    </p>
<mat-list *ngFor="let player of  this.changedEvent.players.accept | sort; index as i">

<mat-list-item *ngIf="player.role=='Защитник'"
             [ngClass]="{
'firstElementAfterGoalie':player.role!=='Вратарь',
'firstElementUndef':!player.color&&player.role!=='Вратарь',
'firstElementBlack':player.color==='black'}"
>

<p  matLine> {{player.name}} {{player.surname}}</p>

<mat-select [(value)]="player.color"
            *ngIf="player.role!=='Вратарь' && user && user.admin"
            class="color"
            value="{{player.color}}">

  <mat-option *ngFor="let mark of marks" [value]="mark">
    <mat-icon [ngStyle]="{'color': mark.color}">brightness_1</mat-icon>&nbsp;{{mark.name}}</mat-option>
  <mat-option [value]="null">
      <mat-icon [ngStyle]="{'opacity': 0}">brightness_1</mat-icon>&nbsp;Not selected
    </mat-option>
</mat-select>

<mat-select [(value)]="player.number"
            *ngIf="player.role!=='Вратарь' && user && user.admin"
            class="number"
            [ngClass]="{'disabled-element':!player.color}"
            disabled="{{!player.color}}"
            value="player.number">
  <mat-option class="dot" value="1">''</mat-option>
  <mat-option value="2">''</mat-option>
  <mat-option value="3">''</mat-option>
</mat-select>
</mat-list-item>
</mat-list>
<p class="roleHeader">
    НАПАДАЮЩИЕ
  </p>

<mat-list *ngFor="let player of  this.changedEvent.players.accept | sort; index as i">

<mat-list-item *ngIf="player.role=='Нападающий'"
           [ngClass]="{
'firstElementAfterGoalie':player.role!=='Вратарь',
'firstElementUndef':!player.color&&player.role!=='Вратарь',
'firstElementBlack':player.color==='black'}"
>
<button *ngIf="user && user.admin && player.number == 'any'" class="icons" mat-icon-button (click)="updateRoster()">
    <mat-icon>save</mat-icon>
  </button>
<p  matLine> {{player.name}} {{player.surname}}</p>

<mat-select [(value)]="player.color"
          *ngIf="player.role!=='Вратарь' && user && user.admin"
          class="color"
          value="{{player.color}}">

<mat-option *ngFor="let mark of marks" [value]="mark">
  <mat-icon [ngStyle]="{'color': mark.color}">brightness_1</mat-icon>&nbsp;{{mark.name}}</mat-option>
<mat-option [value]="null">
    <mat-icon [ngStyle]="{'opacity': 0}">brightness_1</mat-icon>&nbsp;Not selected
  </mat-option>
</mat-select>

<mat-select [(value)]="player.number"
          *ngIf="player.role!=='Вратарь' && user && user.admin"
          class="number"
          [ngClass]="{'disabled-element':!player.color}"
          disabled="{{!player.color}}"
          value="player.number">
<mat-option class="dot" value="1">1</mat-option>
<mat-option value="2">2</mat-option>
<mat-option value="3">3</mat-option>
</mat-select>
</mat-list-item>
</mat-list>
</mat-tab>

  <!-- Таб для отклонивших -->
  <mat-tab *ngIf="user && user.admin" label="Не придут ({{changedEvent.players.reject.length }})">

  <mat-list>
    <mat-list-item *ngFor="let player of changedEvent.players.reject">
      <p matLine> {{player.name}}. {{player.surname}} </p>

    </mat-list-item>
  </mat-list>
</mat-tab>


<!-- Таб для не ответивших -->
<mat-tab *ngIf="user && user.admin" label="Не знают ({{this.noVotedUsers.length }})">
  <mat-list>
    <mat-list-item *ngFor="let player of noVotedUsers">
      <p matLine> {{player.name}}. {{player.surname}} </p>

    </mat-list-item>
  </mat-list>
</mat-tab>
</mat-tab-group>

    </mat-card-content>

  </mat-card>

</div>
