<div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="200px">
    <div>
      <button mat-icon-button color="warn" (click)="backToHome()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
  <mat-card fxFlexAlign.gt-xs="center">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

      <mat-card-title>ЧТО?</mat-card-title>
      <mat-card-subtitle>ГДЕ? КОГДА?</mat-card-subtitle>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item value="click to copy"
        >
          <mat-icon>content_copy</mat-icon>
          <span>Копировать составы</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications</mat-icon>
          <span>Отправить уведомление</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>delete</mat-icon>
          <span>Удалить</span>
        </button>
      </mat-menu>
      <button (click)="updateRoster()">
        Hello
      </button>
    </mat-card-header>

    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Будет / не будет
      </p>
    </mat-card-content>
  </mat-card>

  <mat-divider fxLayoutGap="10px" class="mDivid"></mat-divider>

  <mat-list>
    <mat-list-item *ngFor="let player of  this.changedEvent.players.accept | sort; index as i"
                   [ngClass]="{
      'firstElementAfterGoalie':player.role!=='Вратарь',
    'firstElementUndef':!player.color&&player.role!=='Вратарь',
    'firstElementBlack':player.color==='black'}">

      <mat-icon color="primary" matListIcon>done</mat-icon>
      <p matLine> {{player.name[0]}}. {{player.surname}} {{player.role}}</p>
      <mat-select [(value)]="player.color"
                  *ngIf="player.role!=='Вратарь'"
                  class="color"
                  value="{{player.color}}">
        <mat-option value="black">Черный</mat-option>
        <mat-option value="white">Белый</mat-option>
      </mat-select>
      <mat-select [(value)]="player.number"
                  *ngIf="player.role!=='Вратарь'"
                  class="number"
                  [ngClass]="{'disabled-element':!player.color}"
                  disabled="{{!player.color}}"
                  value="player.number">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>
  <mat-divider fxLayoutGap="10px" class="mDivid"></mat-divider>

  <mat-list>
    <mat-list-item *ngFor="let player of changedEvent.players.reject">
      <mat-icon color="warn" matListIcon>clear</mat-icon>
      <p matLine> {{player.name[0]}}. {{player.surname}} {{player.role}} </p>

    </mat-list-item>
  </mat-list>

  <mat-divider fxLayoutGap="10px" class="mDivid"></mat-divider>

  <mat-list>
    <mat-list-item *ngFor="let player of noVotedUsers">
      <mat-icon matListIcon>priority_high</mat-icon>
      <p matLine> {{player.name[0]}}. {{player.surname}} {{player.role}}</p>

    </mat-list-item>
  </mat-list>

</div>
