.color {
  width: 4rem
}

.number {
  width: 4rem;
  margin-left: 1rem;
}

.gameType {
  font-size: 18px;
  }

.disabled-element {
  opacity: 0.3;
}

.headerView {
  background: #2F2F2F;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  .star {
    color: #dc8ea4;
    font-size: 28px;
    padding: 6px;
  }
  .icons {
    color: #ffffff;
    background-color: none !important;
  }
  .invIcon {
    color: transparent;
    padding: 7px;
  }
}

.mainDiv {
  height: auto;
  background: #2F2F2F;
  position: relative;
}

.viewCard {
  // background: #404146;
  width: 85%;
  min-width: 325px;
  margin: 16px auto;
  padding-top: 0;

  .dttm {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    .calendar {
      color: #F1DBA9;
      font-size: 11px;
      height: 1px;
      width: 11px;
    }

  }
}
.where {
  display: flex;
  align-content: center;
  margin-top: 1rem;
  color: #AFADAD;
  .wIcon {
    color: #F1DBA9;
    font-size: 11px;
    height: 1px;
    width: 11px;
  }
}

.dotWhite {
  width: 15px;
  height: 15px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  background-color: #ffffff !important;
  margin-right: 1.2rem;
}
.dotBlack {
  width: 15px;
	height: 15px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  background-color: #000 !important;
  border: 1px solid white;
  margin-right: 1.2rem;
}

::ng-deep .mat-tab-labels {
  display: flex;
  justify-content: space-around;
  background-color: #424242 !important;
}

::ng-deep .mat-tab-label {
  padding: 2px !important; // adjust this to whatever padding you need
  justify-content: left !important;
  font-size: 14px;
  font-weight: 100;
  width: 100%;
  padding-bottom: 1rem;
}

.roleHeader {
  margin-top: 2rem;
  font-size: 13px;
  color: #B2B5BF;
}

::ng-deep .mat-list-base {
  padding: 0 !important;
}

::ng-deep .mat-card-content {
  margin: 0 !important;
}

::ng-deep .mat-list-item .mat-list-item-content {
  margin-left: -1rem;
  font-size: 14px;
  border-bottom: 1px #2F2F2F solid;
  border-radius: 1px;
}


::ng-deep .mat-select-arrow { margin-left: 1.37rem !important;}


