<div class="mainDiv">
  <div class="headerProf">

      <button class="icons" mat-icon-button  (click)="backToHome()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <mat-icon class="star">star</mat-icon>

    <button class="icons" mat-icon-button  (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </div>
  <div>
  <mat-card class="profCard">
    <mat-card-header>
      <mat-card-title class="title">{{nickName}}, это твои настройки</mat-card-title>
      <!-- <mat-card-subtitle>---</mat-card-subtitle> -->
    </mat-card-header>
    <form (ngSubmit)="saveProphile()" [formGroup]="profileUpdateForm">
      <mat-card-content>
        <div >
          <mat-form-field class="input" appearance="outline">
            <mat-label>Email</mat-label>
            <input type='email' formControlName="email"
                   matInput >
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Nickname</mat-label>
            <input type='text' formControlName="nickName"
                   matInput >
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Имя</mat-label>
            <input type='text' formControlName="name"
                   matInput >
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Фамилия</mat-label>
            <input type='text' formControlName="surname"
                   matInput >
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Хват</mat-label>
            <mat-select name="Stick" [(value)]="stickSelected" formControlName="stick">
              <mat-option *ngFor="let stick of sticks" [value]="stick.value">
                {{stick.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Позиция</mat-label>
            <mat-select name="gameRole" [(value)]="roleSelected" formControlName="role">
              <mat-option  *ngFor="let GameRole of roles" [value]="GameRole.value">
                {{GameRole.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="ButtonHolder">
            <button class="Button" mat-raised-button color="primary">Сохранить</button>
          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
  </div>
</div>
