<div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="200px"> 
  <div>
      <button mat-icon-button color="warn" (click)="backToHome()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
  </div>
     
        
        <button mat-raised-button color="warn" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            logout
        </button>
      
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Привет @Nickname</mat-card-title>
      <!-- <mat-card-subtitle>---</mat-card-subtitle> -->
    </mat-card-header>
    <form [formGroup]="profileUpdateForm" >
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type='email'
                   matInput
                   disabled
                   >
          </mat-form-field>
       
          <mat-form-field appearance="outline">
            <mat-label>Nickname</mat-label>
            <input type='text'
                   matInput
                   disabled
                   >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Имя</mat-label>
            <input type='text'
                   matInput
                   disabled>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Фамилия</mat-label>
            <input type='text'
                   matInput
                   disabled>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Хват</mat-label>
              <input matInput type="text"  formControlName="stick">
              <mat-select name="stick" [(value)]="stickSelected">
                <mat-option *ngFor="let stick of sticks" [value]="stick.value">
                  {{stick.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Позиция</mat-label>
                <input matInput type="text" formControlName="role">
                <mat-select name="gameRole" [(value)]="roleSelected">
                  <mat-option *ngFor="let gameRole of roles" [value]="gameRole.value">
                    {{gameRole.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <div fxLayout="row"
               fxLayoutAlign="space-evenly center"
               fxLayoutGap="10px">
            <button mat-raised-button color="primary">Сохранить</button>
          </div>
        </div>
      </mat-card-content>
    </form>
    <!-- <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions> -->

  </mat-card>
  </div>