<div class="mainDiv">
  <div class="headerHome">
      <mat-icon class="invIcon">keyboard_backspace</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <button class="settings" mat-icon-button (click)="goToProfile()">
      <mat-icon>tune</mat-icon>
    </button>
  </div>
  <mat-card *ngFor="let event of eventsFuture" [ngClass]="{'trainBackground' : event.gameType==='Тренировка' ||  event.gameType==='Тренировка', 'gameBackground' : event.gameType==='Игра'}" class="homeCard">

    <mat-card-content class="card">
      <div class="dttm">
        <div>
          <p>
              <mat-icon class="calendar">calendar_today</mat-icon>
            {{event.gameDay}}
          </p>
        </div>
        <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu id="menuButton" #menu="matMenu">
          <button mat-menu-item (click)="viewDetails(event)">
            <mat-icon>info</mat-icon>
            <span>Подробнее</span>
          </button>
          <button *ngIf="user && user.admin" mat-menu-item (click)="copyMessage(event.players.accept)" value="click to copy">
            <mat-icon>content_copy</mat-icon>
            <span>Копировать составы</span>
          </button>
          <button *ngIf="user && user.admin" mat-menu-item (click)="openFileDialog(event)">
            <mat-icon>library_add</mat-icon>
            <span>Добавить гостя</span>
          </button>
          <button *ngIf="user && user.admin" mat-menu-item (click)="removeEvent(event.id)">
            <mat-icon>delete</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </div>
      <div class="gameType" *ngIf="event.rival; else notGame">DC Lepers : {{event.rival}}</div>
      <ng-template class="gameType" #notGame>{{event.gameType}}</ng-template>
      <div class="where">
          <p>
          <mat-icon class="wIcon">location_on</mat-icon>
          {{event.where}}
        </p>
      </div>
    </mat-card-content>

    <mat-card-content class="playersScore">
      <div class="score gold">
        <div class="number">
          <p>
            {{ event.players.accept.length }}
          </p>
        </div>
        <div class="text">
          <p>
            будет
          </p>
        </div>
      </div>
      <div class="score">
        <div class="number">
          <p>
            {{ event.players.reject.length }}
          </p>
        </div>
        <div class="text">
          <p>
            не будет
          </p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" class="ButtonHolder">
      <button [disabled]="false"
              (click)="accessInvite(event.id, event.players,'accept')"
              [ngClass]="{'green' : event.whatIAmAnswer==='accept'}" mat-button
              class="Button">
        Иду!
      </button>
      <button mat-button [disabled]="false"
              (click)="accessInvite(event.id, event.players,'reject')"
              [ngClass]="{'red' : event.whatIAmAnswer==='reject'}"
              class="Button">
        Нет :-(
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="user && user.admin" class="add-button">
  <button id="add-button" mat-fab (click)="createEvent()">
    <mat-icon>add</mat-icon>
  </button>
</div>
