<div class="mainDiv">
  <mat-toolbar fxLayoutAlign="end center">
    <button mat-icon-button (click)="goToProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-tab-group>

    <!-- Таб для текущих событий -->
    <mat-tab label="Текущие">
      <mat-card *ngFor="let event of eventsFuture" fxFlexAlign.gt-xs="center">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div (click)="user && user.admin? viewDetails(): null" >
            <mat-card-title>{{event.gameType}}</mat-card-title>
            <mat-card-subtitle>{{event.where}}</mat-card-subtitle>
          </div>
          <button *ngIf="user && user.admin" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>content_copy</mat-icon>
              <span>Поделиться</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications</mat-icon>
              <span>Отправить уведомление</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>delete</mat-icon>
              <span>Удалить</span>
            </button>
          </mat-menu>

        </mat-card-header>

        <mat-card-content>
          <p>
            {{event.gameDay}}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            Будет {{ event.players.accept.length }} / не будет {{ event.players.reject.length }}
          </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-stroked-button [disabled]="false"
                  (click)="accessInvite(event.id, event.players,'accept')"
                  [ngClass]="{'green' : event.whatIAmAnswer==='accept'}" mat-button>
            Да
          </button>
          <button mat-stroked-button mat-button [disabled]="false"
                  (click)="accessInvite(event.id, event.players,'reject')"
                  [ngClass]="{'red' : event.whatIAmAnswer==='reject'}">
            Нет
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <!-- Таб для регистрации -->
    <mat-tab label="Прошедшие">
      <mat-card *ngFor="let event of eventsPast" fxFlexAlign.gt-xs="center">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div (click)="user && user.admin? viewDetails(): null" >
            <mat-card-title>{{event.gameType}}</mat-card-title>
            <mat-card-subtitle>{{event.where}}</mat-card-subtitle>
          </div>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{event.gameDay}}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            Будет {{ event.players.accept.length }} / не будет {{ event.players.reject.length }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="user && user.admin" class="add-button">
  <button id="add-button" mat-fab color="primary" (click)="createEvent()">
    <mat-icon>add</mat-icon>
  </button>
</div>
