<div class="mainDiv">
  <mat-toolbar fxLayoutAlign="end center" class="headerHome">
    <button mat-icon-button (click)="goToProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card *ngFor="let event of eventsFuture" class="homeCard">

    <mat-card-content class="card">
      <div class="dttm">
        <div>
          <p>
            {{event.gameDay}}
          </p>
        </div>
        <button *ngIf="user && user.admin" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu id="menuButton" #menu="matMenu">
          <button mat-menu-item (click)="viewDetails(event)">
            <mat-icon>notifications</mat-icon>
            <span>Информация</span>
          </button>
          <button mat-menu-item (click)="copyMessage(event.players.accept)" value="click to copy">
            <mat-icon>content_copy</mat-icon>
            <span>Копировать составы</span>
          </button>
          <button mat-menu-item (click)="openFileDialog(event)">
            <mat-icon>notifications</mat-icon>
            <span>Добавить гостя</span>
          </button>
          <button mat-menu-item (click)="removeEvent(event.id)">
            <mat-icon>delete</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </div>
      <div *ngIf="event.rival; else elseBlock">DC Lepers Против {{event.rival}}.</div>
      <ng-template #elseBlock>{{event.gameType}}</ng-template>
    </mat-card-content>

    <mat-card-content class="playersScore">
      <div class="score gold">
        <div class="number">
          <p>
            {{ event.players.accept.length }}
          </p>
        </div>
        <div class="text">
          <p>
            будет
          </p>
        </div>
      </div>
      <div class="score">
        <div class="number">
          <p>
            {{ event.players.reject.length }}
          </p>
        </div>
        <div class="text">
          <p>
            не будет
          </p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" class="ButtonHolder">
      <button [disabled]="false"
              (click)="accessInvite(event.id, event.players,'accept')"
              [ngClass]="{'green' : event.whatIAmAnswer==='accept'}" mat-button
              class="Button">
        Иду!
      </button>
      <button mat-button [disabled]="false"
              (click)="accessInvite(event.id, event.players,'reject')"
              [ngClass]="{'red' : event.whatIAmAnswer==='reject'}"
              class="Button">
        Нет :-(
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="user && user.admin" class="add-button">
  <button id="add-button" mat-fab color="primary" (click)="createEvent()">
    <mat-icon>add</mat-icon>
  </button>
</div>
