<div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="200px">
    <div>
      <button mat-icon-button color="warn" (click)="backToHome()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Создай</mat-card-title>
      <!-- <mat-card-subtitle>---</mat-card-subtitle> -->
    </mat-card-header>
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <mat-label>Где?</mat-label>
            <input type='text'
                   matInput
                   formControlName="where"
                   required
            >
          </mat-form-field>
          <mat-form-field>
            <!--  todo ограничить дату-->
            <input matInput type="datetime-local" placeholder="start date" formControlName="gameDay"
                   required>
          </mat-form-field>
          <mat-label>Для кого?</mat-label>
          <mat-radio-group formControlName="vType" [(ngModel)]="visibility">
            <mat-radio-button *ngFor="let season of vTypes" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <mat-label>Тип</mat-label>
            <mat-select formControlName="gameType" [(value)]="gameTypeSelected">
              <mat-option *ngFor="let GameType of types" [value]="GameType.value">
                {{GameType.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxLayout="row"
               fxLayoutAlign="space-evenly center"
               fxLayoutGap="10px">
            <button mat-raised-button color="primary">Сохранить</button>
          </div>
        </div>
      </mat-card-content>
    </form>
    <!-- <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions> -->

  </mat-card>
</div>
