<div class="mainDiv">
  <div class="headerCreate">
    <div>
      <button mat-icon-button class="icons" (click)="backToHome()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
  <mat-card class="createCard">
    <mat-card-header >
      <mat-card-title style="margin-left: -1rem;" >Создай меня</mat-card-title>
    </mat-card-header>
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
      <mat-card-content>
        <div >
          <mat-form-field class="input" appearance="outline">
            <mat-label>Где?</mat-label>
            <input type='text'
                   matInput
                   formControlName="where"
                   required
            >
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <!--  todo ограничить дату-->
            <input matInput type="datetime-local" placeholder="Когда?" formControlName="gameDay"
                   required>
          </mat-form-field>
          <p>Для кого?</p>
          <mat-radio-group class="input" formControlName="vType" [(ngModel)]="visibility">
            <mat-radio-button *ngFor="let season of vTypes" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field class="input" appearance="outline">
            <mat-label>Тип</mat-label>
            <mat-select formControlName="gameType" [(value)]="gameTypeSelected">
              <mat-option *ngFor="let GameType of types" [value]="GameType.value">
                {{GameType.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input" *ngIf="gameTypeSelected == 'Игра'" appearance="outline">
            <mat-label>Соперник</mat-label>
            <input type='text'
            matInput
            formControlName="rival"  placeholder="Соперник">
          </mat-form-field>

          <div class="ButtonHolder">
            <button class="Button" mat-raised-button color="primary">Сохранить</button>
          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
